<div>
    <h2>Olá, {{user}}</h2>
    <br>
    <div>
        <p>A marcação da sua consulta com o {{specialty}} {{professional}} foi realizada com sucesso!</p>
        <p>Sua consulta está marcada para o dia {{date}}.
        <p>Em caso de necessidade de cancelamento da consulta, 
            favor entrar em contato com o setor de marcações com no mínimo 24 horas de antecedência.</p>
    </div>
    <p>Att, Clínica Doc</p>
</div>