<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Agendamento de consulta</title>
  </head>
  <body>
    <h2>Olá Dr. {{professionalName}}! </h2>
    <p>Agendamento realizado para
      {{date}}
      com o(a) paciente
      {{patientName}}!
    </p>
    <p>KenzieDoc</p>
  </body>
</html>