<div>
    <h2>Olá, {{user}}</h2>
    <br>
    <div>
        <p>Segue em anexo a sua prescrição médica, conforme discutido em nossa última consulta.</p>
    </div>
    <p>Att, Dr(a) {{medic}}, {{specialty}} </p>
</div>